<form class="form-horizontal well">
    <div class="form-group">

        <label class="col-xs-1">Début</label>
        <div class="col-xs-5">
            <div class="input-group date" id="debut">
                <input type="text" class="form-control" id="dateDebut" name="dateDebut" required/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>



        <label class="col-xs-1">Fin</label>
        <div class="col-xs-5">
            <div class="input-group date" id="debut">
                <input type="text" class="form-control" id="dateDebut" name="dateDebut" required/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>

    <div class="form-group">

        <label class="col-xs-1">Périodicité</label>
        <div class="col-xs-5">
            <select class="form-control" id="periode" name="periode">
                <option value="SEMAINE">SEMAINE</option>
                <option value="MOIS">MOIS</option>
                <option value="ANNEE">ANNEE</option>                
            </select>
        </div>

        <div class="col-xs-5 pull-right">
            <input type="submit" class="btn btn-block orangeElement whiteText" value="Afficher"/>
        </div>
    </div>
</form>