body 
{

}

input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.center
{
    text-align: center;
}

.whiteText{
    color: white;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.starter-template 
{
padding: 40px 15px;
text-align: center;
}

.navbar-brand {height: 25px;}



textarea
{
    resize: none;
}



.scrollit
{
    overflow: scroll;
    height:500px ;   
 }
 
 .scrollit-xs
 {
     overflow: auto;
     height: 150px;
 }
.dropzone
{
   padding-left :10px;
   padding-right: 10px;
   border:none;
}
.affix{
    top:150px;
}

.main-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top : 1px solid #dddddd;
  padding:10px;
  margin-left: 0px;
  margin-right: 5px;
}

.filter-content
{
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top : 1px solid #dddddd;
  padding:10px;
  margin-right: 20px;
}

.blackElement
{
    background-color: #000000;
}

.blackText
{
    color: black;
}

.orangeActive
{
     background-color : rgb(255,101,1);
}

.menuText
{
    text-decoration:underline;
    color : rgb(255,255,255);
    font-size : medium;
}
.orangeElement{
    background-color : rgb(255,101,1);
   
}

.orangeText
{
    color : rgb(2555,101,1);
}
.greyElement{
    background-color: rgb(162,162,162);
}
.caches{ 
    display:none;
}

fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    border:none;
}

.requis
{
    color:red;
}

.ok
{
    color:green;
}
.nok
{
    color:red;
}

.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    height: 500px;
}

.table-scroll tr {
    width: 100%;
    table-layout: fixed;
    display: inline-table;
}

.table-scroll thead > tr > th {
    border: none;
}

